<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper  namespace="com.mapper.UserContactMapper" >
    <select id="getUserContactById" parameterType="int" resultType="com.entities.UserContact">
        SELECT * FROM user_contact WHERE id_user = #{id} OR id_contact = #{id} AND isAccepted = 1;      
    </select>
</mapper>